p { 
font-size: 20px;
font-family: "Lucida Handwriting";
font-weight: bold;
color:rgb(214, 248, 183);
text-align: right;

}
body{
    background-color:aqua;

}
main{
    background-color: pink;
}

footer{
    
    background-color: aqua;
}
    
h1{
    font-family:"Lucida Handwriting";
}
